.UtilityCost {
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 2px #eee;
    border-radius: 3px;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.Title {
    font-size: large;
}


