.Fact {
    height: 50px;
    background-color: white;
    margin: 10px;
    padding: 0 10px;
    border-radius: 3px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 0 2px #eee;
    text-align: center;
}

.Title {
 margin-left: 10px;   
 font-size: large;
}

.PointIcon {
    font-size: xx-large;
    color: #ff1a00;
}