.WaterEnergy {
    width: 50%;
    height: 250px;
    margin: 0 10px;
    padding: 5px 10px;
    box-shadow: 0 0 2px #ccc;
    border-radius: 3px;
    display: flex;
    flex-flow: column;
}

.Water {
    background-color: #e4f2fd;
}

.Energy {
    background-color: #ffebed;
}

.TitleRow {
    width: 100%;
    height: 10%;
    display: flex;
}

.TitleRow .WaterDropIcon {
    color: #0277bd;
    font-size: x-large;
}

.TitleRow .EnergyIcon {
    color: #ff3221;
    font-size: x-large;
}

.TitleRow .WaterText {
    color: #1c7ebb;
    font-size: large;
}

.TitleRow .EnergyText {
    color: #fd3222;
    font-size: large;
}

.Gauge {
    width: 100%;
    height: 75%;
    margin: 5px 0;
}

.LiveRow {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #2c8c14;
}

.LiveRow .DotIcon{
    color: #2f7750;
    width: 30px;
    height: 30px;
}

.LiveRow .Text {
    color: #5d8b59;
}