.SavingCard {
    width: 50%;
    height: 125px;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: x-large;
    display: flex;
    flex-flow: column;
}

.Danger {
    background-color: #fbe4ec;
}

.Danger .DollarSign {
    color: #ad1457;
    font-weight: bold;
    font-size: xx-large;
}

.Danger .Money {
    color: #a81c5a;
    margin-left: 10%;
}

.Danger .Desc {
    color: #b34171;
}

.Success {
    background-color: #e0f2f2;
}

.Success .DollarSign {
    color: #00695b;
    font-weight: bold;
    font-size: xx-large;
}

.Success .Money {
    color: #01685b;
    margin-left: 10%;
}

.Success .Desc {
    color: #22746a;
}