.UtilityStatus {
    width: 50%;
    height: 250px;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0 0 2px #eee;
    border-radius: 3px;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.Title {
font-size: large;    
}

.Cards {
    display: flex;
    height: 80%;
    align-items: center;
}