.UtilitySaving {
    height: 100px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 2px #eee;
    border-radius: 3px;
    display: flex;
    flex-flow: column;
}

.TitleRow{
    display: flex;
}

.TitleRow .Title{
    width: 50%;
    text-align: left;
    font-size: large;
}

.TitleRow .Target {
    width: 50%;
    text-align: right;
    color: #00b7a1;
}

.Progress {
    margin: 20px 15px 0 15px;
    height: 25%;
}