.App {
  text-align: center;
}

.Layout {
  height: 100vh;
}

.Header {
  width: 100%;
  height: 50px;
  background-color: #ededed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 10px #ccc;
  position: sticky;
  top: 0;
}

.MenuIcon {
  color: #5a748f;
  font-size: x-large;
  margin-left: 10px;
}

.Sider {
  background-color: #2a3f54;
}

