.SiderMenu {
    width: 100%;
    height: 100%;
}

.Menu {
    text-align: left;
    background-color: #2a3f54;
}

.LogoLayout {
    padding: 5px;
    margin-top: 10%;
}

.LogoRow {
display: flex;
flex-flow: row;
align-items: center;
}

.LogoIcon {
width: 50px;
height: 50px;
margin-left: 10px;
}

.Title {
    color: #dde9f5;
    font-size: large;
    width: 100%;
}

.WelcomeRow {
    margin: 20px 0 0 10px;
    display: flex;
    flex-flow: column;
    text-align: left;
}

.Welcome {
    color: #808c97;
    font-size: small;
}

.Company {
    color: #dde9f5;
    font-size: medium;
}
